@page "/"
@model UpcomingChoresModel
@{
    ViewData["Title"] = "Upcoming Chores";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <!-- Upcoming Chores Section -->
    @if (Model.UpcomingChores.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Chore</th>
                        <th>Due</th>
                        <th>Days</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var choreWithDue in Model.UpcomingChores)
                    {
                        <!-- Chore Row -->
                        <tr>
                            <td>@choreWithDue.Chore.Name</td>
                            <td class="text-nowrap">@choreWithDue.NextDueDate.ToString("yyyy-MM-dd")</td>
                            <td>
                                @if(choreWithDue.DaysUntilDue > 0) {
                                    <span class="badge bg-secondary">@choreWithDue.DaysUntilDue</span>
                                }
                                else if (choreWithDue.DaysUntilDue == 0) {
                                    <span class="badge bg-warning">@choreWithDue.DaysUntilDue</span>
                                }
                                else {
                                    <span class="badge bg-danger">@choreWithDue.DaysUntilDue</span>
                                }
                            </td>                                
                            <td>
                                <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#doneModal-@choreWithDue.Chore.Id">Do</button>
                            </td>
                        </tr>

                        <!-- Confirmation dialog -->
                        <div class="modal fade" id="doneModal-@choreWithDue.Chore.Id" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title">@choreWithDue.Chore.Name</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <div class="modal-body">
                                        Have you finished <strong>@choreWithDue.Chore.Name</strong>?                                                                            
                                    </div>

                                    <div class="modal-footer">
                                        <form method="post">
                                            <input type="hidden" name="choreId" value="@choreWithDue.Chore.Id" />
                                            <button type="submit" class="btn btn-success" formaction="?handler=Done">Yes</button>
                                        </form>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            Add some chores.
        </div>
    }

</div>

@if (TempData["ShowConfetti"] is true) {
    <script>
        confetti({particleCount: 300,spread: 130,origin: { y: 0.5 }});
    </script>
}